VITE_SUPABASE_URL=https://zqkjiptqpdwqfxvvkubw.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_h3ujMHlRDA7uBc3dgmkiIA_eqmQR3Rf
VITE_AUTH_EMAIL_DOMAIN=login.vernex.in
VITE_DATA_PROVIDER=supabase
